html, body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	border-left: 2px solid #00f2af;
	font-size: 48px;
	font-weight: 400;
	padding-left: 20px;
}

.main {
	margin-top: 80px;
}

form input {
	background-color: #f0f0f0;
	border: none;
	border-left: 2px solid #fff;
	font-size: 46px;
	padding: 20px;
	width: 100%;

	transition: background 1s, border-left 1s;
}

form input:focus {
	background-color: #fff;
	border-left: 2px solid #000;
	box-shadow: none;
	outline: none;
}

button.btn {
	border: none;
	padding: 20px 24px;
	background: transparent;
	color: #00f2af;
	font-size: 36px;
	cursor: pointer;

	transition: background 1s, color 1s;
}

button.btn:hover {
	background: #00f2af;
	color: #fff;
}

.comments {
	margin-top: 20px;
	padding-left: 0px;
	list-style: none;
}

li {
	margin-bottom: 36px;
	border-left: 2px solid #000;
	padding-left: 20px;
	font-size: 36px;
}